$dark-mode-elements: hsl(209, 23%, 22%);
$dak-mode-backgrounds: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-background: hsl(0, 0%, 98%);
$dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);
$padding: 1.8em 1.5em;
$input-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
$input-padding: 1.4em 2em;
$margin-bottom: 2.8em;
$border-radius: 5px;
