@import "base.scss";

div.country {
  box-shadow: $input-box-shadow;
  border-radius: 5px;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em;
  div.flagContainer {
    img {
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  div.details {
    padding: $padding;

    h3 {
      padding-bottom: 1em;
    }

    p {
      font-weight: bold;
      padding-bottom: 0.7em;
      span {
        font-weight: normal;
      }
    }
  }
}

div.container {
  padding: $padding;

  div.goBack {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      padding: $padding;
      box-shadow: $input-box-shadow;
    }

    svg.linkicon {
      margin-right: 0.5em;
    }
  }
  div.right {
    margin-top: 2em;
  }
  div.details {
    padding: 3em 0;

    h2 {
      padding-bottom: 2em;
    }

    p.detail {
      padding-bottom: 1em;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }

    h3.borderTitle {
      padding-top: 3em;
      padding-bottom: 1em;
    }

    div.borderContainer {
      display: flex;
      flex-wrap: wrap;
      div.border {
        margin-right: 0.6em;
        a {
          padding: 1em;
          display: inline-block;
          box-shadow: $input-box-shadow;
        }
      }
    }
  }
}
