@import "base.scss";

main.container {
  background: $light-mode-background;
  color: $light-mode-text;
  min-height: 100vh;

  nav.navigation {
    background: $dark-mode-text-and-light-mode-elements;

    padding: $padding;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 20000000000;
    // button
    transition: all 1s;
    div.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        background: transparent;
        vertical-align: center;
        display: flex;
        align-items: center;
        .buttonIcon {
          margin-right: 0.5em;
          // fill: none;
          // stroke-width: 1px;
          // stroke:
        }
      }
    }
  }

  div.inputAndFilterContainer {
    padding: $padding;
    display: flex;
    flex-direction: column;
    div.inputContainer {
      box-shadow: $input-box-shadow;
      background: #ffff;
      display: flex;
      align-items: center;
      margin-bottom: $margin-bottom;
      padding: 0 2em;
      .buttonIcon {
        margin-right: 0;
        fill: $light-mode-input;
      }
      form {
        flex: 1;
      }
      input {
        padding: $input-padding;
        width: 100%;
        background: transparent;
      }
    }
  }
  div.filter {
    width: 220px;
    box-shadow: $input-box-shadow;
    background: #fff;
    div.filterContainer {
      position: relative;
      width: 100%;
      div.valueContainer {
        display: flex;

        .icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          fill: $dark-mode-backgrounds;
        }
        form {
          flex: 1;
        }
        input.value {
          padding: $input-padding;
          width: 100%;
          background: transparent;
          cursor: pointer;
          &:focus {
            // border: 1px solid dodgerblue;
          }
          &::placeholder {
            color: $light-mode-text;
          }
        }
      }

      div.options {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        z-index: 2000000;
        background-color: #fff;
        button {
          width: 100%;
          padding: 0.7em;
          background: none;
        }
      }
    }
  }

  div.flagContainer2 {
    padding: 0 1.5em;
  }
  div.countriesContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 3em;
    padding: $padding;
    div.country {
      box-shadow: $input-box-shadow;
      border-radius: 5px;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 4em;
      background: inherit;
      div.flagContainer {
        img {
          max-width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      div.details {
        padding: $padding;
        h3 {
          padding-bottom: 1em;
        }

        p {
          font-weight: bold;
          padding-bottom: 0.7em;
          span {
            font-weight: normal;
          }
        }
      }
    }
  }

  div.goBack {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    padding: 3em 1.5em;
    a {
      display: inline-block;
      padding: 1em;
      box-shadow: $input-box-shadow;
      border-radius: $border-radius;

      background: #fff;
    }

    svg.linkicon {
      margin-right: 0.5em;
    }
  }
  div.detailsContainer {
    padding: 0 1.5em;
    div.right {
      margin-top: 2em;
    }
    div.details {
      padding: 3em 0;

      h2 {
        padding-bottom: 2em;
      }

      p.detail {
        padding-bottom: 1em;
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
    }
    h3.borderTitle {
      padding-top: 3em;
      padding-bottom: 1em;
    }

    div.borderContainer {
      display: flex;
      flex-wrap: wrap;
      div.border {
        margin-right: 0.6em;
        a {
          padding: 0.8em;
          display: inline-block;
          border-radius: $border-radius;
          background: #fff;
          box-shadow: $input-box-shadow;
        }
      }
    }
  }
}

main.dark {
  background: $dark-mode-backgrounds;
  color: $dark-mode-text-and-light-mode-elements;
  nav.navigation {
    background: $dark-mode-backgrounds;
    border-bottom: 1px solid $dark-mode-elements;
    div.container {
      button {
        color: $dark-mode-text-and-light-mode-elements;
        .buttonIcon {
          fill: $dark-mode-text-and-light-mode-elements;
        }
      }
    }
  }

  div.inputAndFilterContainer {
    div.inputContainer,
    div.filterContainer {
      background: $dark-mode-elements;
      input {
        color: #fff;
      }
    }
  }

  div.filter {
    div.filterContainer {
      div.valueContainer {
        display: flex;

        .icon {
          fill: $dark-mode-text-and-light-mode-elements;
        }
        input.value {
          color: #fff;
          &::placeholder {
            color: $dark-mode-text-and-light-mode-elements;
          }
        }
      }

      div.options {
        background: $dark-mode-elements;
        color: #fff;
        button {
          color: $dark-mode-text-and-light-mode-elements;
        }
      }
    }
  }

  div.goBack {
    a {
      background: $dark-mode-elements;
    }
  }

  div.detailsContainer {
    div.borderContainer {
      div.border {
        margin-bottom: 1em;
        a {
          background: $dark-mode-elements;
          box-shadow: $input-box-shadow;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  div.container {
    width: 1000px;
    margin: 0 auto;
    div.countriesContainer {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1.4em;
      column-gap: 1.4em;
    }

    div.inputAndFilterContainer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      div.inputContainer {
        width: 500px;
      }
      div.inputContainer,
      div.filter {
        margin: 0;
      }
    }

    div.wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5em;
      div.flagContainer2 {
        padding: 0;
      }
      div.detailsContainer {
        div.details {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          padding-bottom: 1em;
          div.left,
          div.right {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        h3.borderTitle {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }
  }
}
