@import "base.scss";

main.container {
  background: $light-mode-background;
  color: $light-mode-text;
  min-height: 100vh;

  nav.navigation {
    background: $dark-mode-text-and-light-mode-elements;

    padding: $padding;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 20000000000;
    // button

    div.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        background: transparent;
        vertical-align: center;
        display: flex;
        align-items: center;
        .buttonIcon {
          margin-right: 0.5em;
          // fill: none;
          // stroke-width: 1px;
          // stroke:
        }
      }
    }
  }

  div.inputAndFilterContainer {
    padding: $padding;
    display: flex;
    flex-direction: column;
    div.inputContainer {
      box-shadow: $input-box-shadow;
      background: #ffff;
      display: flex;
      align-items: center;
      margin-bottom: $margin-bottom;
      padding: 0 2em;
      .buttonIcon {
        margin-right: 0;
        fill: $light-mode-input;
      }
      form {
        flex: 1;
      }
      input {
        padding: $input-padding;
        width: 100%;
        background: transparent;
      }
    }
  }
  div.filter {
    width: 220px;
    box-shadow: $input-box-shadow;
    background: $light-mode-background;

    div.filterContainer {
      position: relative;
      width: 100%;
      div.valueContainer {
        display: flex;

        .icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        form {
          flex: 1;
        }
        input.value {
          padding: $input-padding;
          width: 100%;
          cursor: pointer;
          &:focus {
            // border: 1px solid dodgerblue;
          }
          &::placeholder {
            color: $light-mode-text;
          }
        }
      }

      div.options {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        z-index: 2000000;
        background-color: #fff;
        button {
          width: 100%;
          padding: 0.7em;
          background: none;
        }
      }
    }
  }

  div.countriesContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 3em;
    padding: $padding;
  }
}

@media screen and (min-width: 1000px) {
  div.container {
    width: 1000px;
    margin: 0 auto;
    div.countriesContainer {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1.4em;
      column-gap: 1.4em;
    }

    div.inputAndFilterContainer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      div.inputContainer {
        width: 500px;
      }
      div.inputContainer,
      div.filter {
        margin: 0;
      }
    }
  }
}
